{% extends 'pizza_constructor/layout.html' %}

{% block content %}
<form method="POST" action="">
{% csrf_token %}
<h2>Тесто</h2>
    <div>
        <input type="radio" id="white_choice"
         name="dough_type" value="white" checked>
        <label for="white_choice">Белое</label>

        <input type="radio" id="black_choice"
         name="dough_type" value="black">
        <label for="black_choice">Черное</label>
    </div>
    {% for group in ingredient_groups %}
    {% if group.ingredients.all %}
    <div>
        <h2>{{group.name}}</h2>
        {% for ingredient in group.ingredients.all %}
            <label class="label-top" for="{{ingredient.id}}">{{ingredient.name}} ({{ingredient.price|floatformat}}$)</label>
            <input type="number" id="{{ingredient.id}}" name="ingredient_amount_{{ingredient.id}}" value="0">
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
    <input type="submit" value="Оформить заказ">
</form>
{% endblock %}